:root {
    --dark-blue: #0A0A23;
    --purple: #5A01A7;
    --green: #00471B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}

/* flexbox */
.wrapper, .input-block {
    display: flex;
}

body {
    min-height: 100svh;
    background-color: var(--dark-blue);
    padding: 4rem;
}

.wrapper {
    outline: solid red;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.wrapper h1,
.wrapper p:not(#enter-text, #result) {
    color: white;
}

.input-block {
    /* outline: solid rgb(21, 241, 223); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem 1.5rem 2rem;
    gap: 1.5rem;
    border-radius: 1.25em;
    box-shadow: #002ead 0px 3px 13px 1px;
    /* min-width: 50%; */
    /* min-height: 15svh; */
}

.palindrome-explanation {
    background-color: var(--green);
    padding: 2rem;
    border-radius: 1.5em;
}