:root {
    --dark-blue: #0A0A23;
    --purple: #5A01A7;
    --green: #00471B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--dark-blue);
    padding: 4rem;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* outline: solid red; */
}

.wrapper h1,
.wrapper p {
    color: white;
}

.palindrome-explanation {
    background-color: var(--green);
    padding: 2rem;
    border-radius: 1.5em;
}