:root {
    --dark-blue: #0A0A23;
    --purple: #5A01A7;
    --green: #00471B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hide {
    display: none;
}

/* flexbox */
body,
.wrapper,
main,
.input-block,
.input-field {
    display: flex;
}

body,
.input-block {
    justify-content: center;
}

.wrapper,
main,
.input-block {
    flex-direction: column;
}


body {
    min-height: 100svh;
    background-color: var(--dark-blue);
    padding: 4rem;
}

.wrapper {
    /* outline: solid red; */
    align-items: center;
    gap: 2.5rem;
    max-width: 28rem;
}

.wrapper h1,
.wrapper p:not(#enter-text, #result),
#check-btn {
    color: white;
}

main {
    gap: 1.8rem;
}

.input-block {
    /* outline: solid rgb(21, 241, 223); */
    /* flex-direction: column; */
    align-items: center;
    background-color: white;
    padding: 1.5rem 2rem 1.8rem 2rem;
    gap: 1.5rem;
    border-radius: 1.25em;
    box-shadow: #002ead 0px 3px 13px 1px;
    min-width: 100%;
}

.input-field {
    /* outline: solid rgb(255, 0, 0); */
    min-width: 85%;
    min-height: 50%;
    justify-content: space-between;
}

#text-input {
    flex: 0.7 0 10rem;
    min-height: 1.75rem;
    border-color: var(--purple);
    border-style: none none solid none;
}

#check-btn {
    flex: 0.25 0 auto;
    padding: 0 0.8rem;
    border: none;
    border-radius: 1.1em;
    background-color: var(--purple);
}

#result {
    font-size: 22px;
}

.palindrome-explanation {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--green);
    padding: 2rem;
    border-radius: 1.2em;
}